.main-body-div{
    display:flex;
    flex-direction: column;

}
body{
    width: 100%;
    margin: 0;
}
.Header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding-right: 40px;
}
.header-links a{
text-decoration: none;
color: white;
font-size: 20px;
padding-right: 10px;
}
.header-links a:active{
    color: gainsboro;
}
.h1-logo{
    color: white;

}
.text-image-sign-up{
    background-color: #1F2937;
}
.Header-container,
.text-image-sign-up{
display: flex;
flex-direction: row;   
padding-left: 40px;
}
.sign-up-button{
    background-color: blue;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color:white;
    background-color:   #3B82F6;
    border: none;
    font-weight: bold;
}
.sign-up-button:active{
    background-color: #3B82B5;
    
}
.bug-png{
    width: 400px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    max-height: 272px;
    margin-left: auto;    
    margin-bottom: 90px;
    flex-wrap: wrap;
}
 
.text-image-sign-up{
    padding-right: 40px;
    padding-top: 100px;
    color: white;

}
.text-sign-up{
    flex-grow: 1;
    padding-right: 40px;
    margin-bottom: 30px;
}
.text-sign-up h1{
    font-size: 50px;
    font-weight: 900;
}
.text-sign-up p{
    font-size: 20px;
}
.cards-text{
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
 
}
.card1,
.card2,
.card3,
.card4{
    display: flex;
    flex-direction: column;
     align-items: center;
     text-align: center;
     flex-grow: 1;
}
.card1 button,
.card2 button,
.card3 button,
.card4 button{
    height: 150px;
    width: 150px;;
    border: 3px solid #3B82F6;
    border-radius: 10px;
    background-color: white;
    margin: 30px;
    
 }
.rand-info{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #1F2937;

}
.card1 p,
.card2 p,
.card3 p,
.card4 p{
    width:150px;
}
.inspiring-quote-div{
    background-color: rgb(211, 211, 211, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .inspiring-quote{
 font-size: 40px;
 text-align: center;
 margin: 0 80px;
 font-weight:lighter;
 padding-top: 50px;
 font-style: italic;
 width: 75%;
 align-self: center;
  }
 .author-tag{
    margin-right: 90px;
    text-align: end;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 70px;
    margin-bottom: 0;
 }
 .copyright-footer{
    text-align: center;
    background-color: #1F2937;
    height: 50px;
    color: white;
    margin: auto;
    padding-top: 30px;



 }
 .white-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
 }
 .blue-box{
    display: flex;
    background-color: #3B82F6;
    width: 60%;
    padding:35px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
 }
 .call-to-action{
    color:white;
    font-size: 35px;
    margin-bottom: 0;
 }
 .sign-up-button2{
    margin-left: auto;
    width: 150px;
    height: 60px;
    border: 2px solid white;
    background-color: #3B82F6;
    border-radius: 10px;
    margin-right: 50px;
    color: white;
    font-size: 20px;

 }
 .call-to-action-text{
    margin-left: 50px;
 }
 .subtext-call{
    margin-top: 0;
    color: white;
 }
