.main-body-div{
    display:flex;
    flex-direction: column;

}
body{
    width: 100%;
    margin: 0;
}
.Header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding-right: 40px;
}
.header-links a{
text-decoration: none;
color: white;
font-size: 20px;
padding-right: 10px;
}
.header-links a:active{
    color: gainsboro;
}
.h1-logo{
    color: white;

}
.text-image-sign-up{
    background-color: #1F2937;
}
.Header-container,
.text-image-sign-up{
display: flex;
flex-direction: row;   
padding-left: 40px;
}
.sign-up-button{
    background-color: blue;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color:white;
    background-color:   #3B82F6;
    border: none;
    font-weight: bold;
}
.sign-up-button:active{
    background-color: #3B82B5;
    
}
.bug-png{
    width: 400px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    max-height: 272px;
    margin-left: auto;    
    margin-bottom: 90px;
}
 
.text-image-sign-up{
    padding-right: 40px;
    padding-top: 100px;
    color: white;

}
.text-sign-up{
    flex-grow: 1;
    padding-right: 40px;
    margin-bottom: 30px;
}
.text-sign-up h1{
    font-size: 50px;
    font-weight: 900;
}
.text-sign-up p{
    font-size: 20px;
}
.cards-text{
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
 
}
.card1,
.card2,
.card3,
.card4{
    display: flex;
    flex-direction: column;
     align-items: center;
     text-align: center;
     flex-grow: 1;
}
.card1 button,
.card2 button,
.card3 button,
.card4 button{
    height: 150px;
    width: 150px;;
    border: 3px solid #3B82F6;
    border-radius: 10px;
    background-color: white;
    margin: 30px;
    
 }
.rand-info{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #1F2937;

}
.card1 p,
.card2 p,
.card3 p,
.card4 p{
    width:150px;
}